<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Parsing Bahasa Bali</h1>
      <div class="row center">
        <h5 class="header col s12 light">Uji kalimat anda apakah sesuai grammar atau tidak
        <br>
        </h5>

    <form action='/hasil' method="POST" class="col s12">
      <div class="input-field col s12">
        <label for="first_name"><b>Kalimat</b></label>
        <br>
        <input type="text" id="kalimat" name="string">
      </div>
      <div class="row center">
          <button type="submit" class="btn-large waves-effect waves-light orange">Submit</button>
      </div>
    </form>
    </div>
    <br><h4 class="center"><b>{{hasil}}</b></h4>
    <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    </div>
  </footer>
  </body>
</html>